.leftButton{
    background-color:#FFC350;
    &:hover{
        background:#CC9B41;
        cursor: pointer;
    }
}

.rightButton{
    float: right;
    background-color: #94FA92;
    &:hover{
        background: #77DD77;
        cursor: pointer;
    }
}

.clearButton{
    float: right;
    background-color: #DF4D49;
    &:hover{
        background: #C03032;
        cursor: pointer;
    }
}

.buttons{
    display: inline;
    button{
        color: black;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;
        font-family: 'Jura', sans-serif;
        width: 150px;
        height: 50px;
        border: 0px;
        border-radius: 20px;
    }
}