.leftButton{
    background-color: white;
        width: 150px;
        height: 50px;
        border: 0px;
        border-radius: 20px;
        &:hover{
            background:rgb(230, 230, 230);
            cursor: pointer;
        }
        color: black;
        font-size: 20px;
        margin-left: 32%;
        margin-top: 2%;
        font-family: 'Jura', sans-serif;
}