/*

old color palette

$primButton     :#49C6E5;
$primButtonHover:#2F9395;
$headerColor    :#F7D969;
$backgroundColor:#E8EDDF;

$firstBox       :#2F9395;
$secondBox      :#F16A43;
$thirdBox       :#EC1C4B;
$footerColor    :#292929;

*/
* {
  margin: 0;
}

body {
  background-color: #E8EDDF;
}

body header {
  background-color: #F7D969;
  background-position: 50px;
  padding: 0%;
  border: 0%;
  margin: 0%;
}

body div {
  display: inline-block;
}

.aboutUsDiv {
  display: inline-block;
  vertical-align: top;
  font-family: Arial;
}

.aboutUsDiv p {
  font-size: 20px;
  margin-bottom: 10px;
}

.topPartDiv {
  display: table;
  margin: 0 auto;
}

.boxImage {
  max-width: 350px;
  margin-right: 50px;
}

.aboutUsText {
  font-size: 30px;
  margin-bottom: 0%;
  margin-top: 10%;
}

.lieferservice {
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #49C6E5;
  font-size: 50px;
  margin-top: 0%;
}

.logo {
  width: 150px;
  margin-left: 20%;
}

.bestellButton {
  background-color: #49C6E5;
  width: 300px;
  height: 50px;
  border: 0px;
  color: white;
  font-size: 20px;
}

.bestellButton:hover {
  background: #2F9395;
  cursor: pointer;
}

.boxAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  height: 400px;
  width: 400px;
  display: inline-block;
}

.box h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
}

.box p {
  text-align: center;
  padding: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: white;
}

.box img {
  margin: 0;
  width: 80px;
  padding-left: 42%;
  padding-top: 5%;
}

.box button {
  background-color: white;
  width: 150px;
  height: 50px;
  border: 0px;
  color: black;
  font-size: 20px;
  margin-left: 32%;
  margin-top: 2%;
  font-family: 'Jura', sans-serif;
}

.box button:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.yellow {
  background-color: #309397;
}

.red {
  background-color: #E46472;
}

.blue {
  background-color: #F9BE7C;
}

.paralexxImage {
  position: relative;
  text-align: center;
  color: white;
}

.paralexxImage img {
  margin-left: 0;
  padding-top: 20px;
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.paralexxImage h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  font-size: 50px;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.paralexxImage button {
  background-color: white;
  width: 150px;
  height: 50px;
  border: 0px;
  color: black;
  font-size: 20px;
  font-family: 'Jura', sans-serif;
  position: absolute;
  font-size: 50px;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.paralexxImage button:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.centeredText {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  height: 200px;
  width: 100%;
  display: inline-block;
  background-color: #292929;
}

.footer p {
  position: relative;
  top: 50%;
  margin-left: 62%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}
/*# sourceMappingURL=style.css.map */